/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

article {
    background-color: #fff;
    margin: 20px 100px;
    padding: 15px;
}

article h2,
article p,
article ul {
    margin: 15px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
